In [2]:
#imported the setup from the provided starter code

import pandas as pd
from pathlib import Path

In [3]:
#File Path
school_info= Path("Resources/schools_complete.csv")
student_info = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
schools_df = pd.read_csv(school_info)
students_df = pd.read_csv(student_info)



# Combine the data into a single dataset.  
school_stdnt_comb = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
school_stdnt_comb.head()
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# Total number of unique schools
unq_schools = school_stdnt_comb["school_name"].nunique()
unq_schools

15

In [4]:
# Total number of students
stdnt_count = school_stdnt_comb["student_name"].count()
stdnt_count

39170

In [5]:
# Schools Budget
school_budget = schools_df["budget"].sum()
school_budget

24649428

In [6]:
#Average Math score
avg_math = students_df["math_score"].mean()
avg_math

78.98537145774827

In [7]:
#Average Reading Score
avg_reading = students_df["reading_score"].mean()
avg_reading

81.87784018381414

In [8]:
#this section was supplied by the starter code
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_stdnt_comb[(school_stdnt_comb["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(stdnt_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
#Percentage of students who passed reading
passing_read_count = school_stdnt_comb[(school_stdnt_comb["reading_score"] >= 70)].count()["student_name"]
passing_read_percentage = passing_math_count / float(stdnt_count) * 100
passing_read_percentage

74.9808526933878

In [10]:
#Percentage of students who passed math and reading 
#Provided in the starter code for this exercise
passing_math_reading_count = school_stdnt_comb[
    (school_stdnt_comb["math_score"] >= 70) & (school_stdnt_comb["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(stdnt_count) * 100
overall_passing_rate

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools" : unq_schools, "Total Students" : stdnt_count, "Total Budget" : school_budget, "Average Math Score" : avg_math, 
                                 "Average Reading Score" : avg_reading, "%Passing Math" : [passing_math_percentage], "% Passing Reading" : [passing_read_percentage],
                                 "% Overall Passing" : [overall_passing_rate]})


district_summary

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,%Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,74.980853,65.172326

In [10]:
#School Types
school_type = schools_df.groupby('type')['school_name'].count()
school_type

type
Charter     8
District    7
Name: school_name, dtype: int64

In [11]:
# Total Students per School
students_per_school = school_stdnt_comb.groupby('school_name').student_name.count()
students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [12]:
# total budget and per capita per school
per_school_budget = school_stdnt_comb.groupby("school_name")['budget'].mean()
per_school_budget

#per capita   
per_capita = per_school_budget/students_per_school
per_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [13]:
# Calculate the average test scores per school
per_school_math = school_stdnt_comb.groupby("school_name")['math_score'].mean()
#per_school_math
per_school_reading = school_stdnt_comb.groupby("school_name")['reading_score'].mean()
#per_school_reading

In [14]:
# students passing math
students_passing_math = school_stdnt_comb[(school_stdnt_comb["math_score"] >= 70)]
students_passing_math
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [15]:
#students passing reading
students_passing_reading = school_stdnt_comb[(school_stdnt_comb["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [16]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_stdnt_comb[
    (school_stdnt_comb["reading_score"] >= 70) & (school_stdnt_comb["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [17]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / students_per_school * 100
per_school_passing_reading = school_students_passing_reading / students_per_school * 100
overall_passing_rate = school_students_passing_math_and_reading / students_per_school * 100

In [18]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type" : school_type, "Total Students" : students_per_school, "Total School Budget" : per_school_budget, "Per Student Budget" : per_capita, "Average Math Score" : per_school_math,
                                    "Average Reading Score" : per_school_reading, "% Passing Math" : per_school_passing_math, "% Passing Reading" : per_school_passing_reading, "% Overall Passing" : overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,NaN,4976.0,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,NaN,1858.0,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Charter,8.0,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
District,7.0,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
Figueroa High School,NaN,2949.0,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,NaN,2739.0,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,NaN,1468.0,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,NaN,4635.0,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,NaN,427.0,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,NaN,2917.0,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,NaN,4761.0,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,NaN,962.0,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,NaN,3999.0,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,NaN,1761.0,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,NaN,1635.0,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,NaN,2283.0,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,NaN,1800.0,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [31]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = school_stdnt_comb.sort_values(by=[overall_passing_rate] ascending=False)
top_schools.head(5)

KeyError: school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64